<!DOCTYPE html>
<html>
<head>
    <title>Maintainance-Tracker App</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="landing">
            <div class="topnav">
                    <a class="active" href="#home">Home</a>
                    <a href="#about">About Us</a>
                  </div>
        <div class="intro">
            Maintenance Tracker App is a product that provides users with the ability to reach out to operations or repairs department
             regarding repair or maintenance requests and monitor the status of their request. 
        </div>
        <div id="name"><i class="fa fa-arrow-left"></i>Developed By</div>
        <img src="../images/haddy.jpg" alt="my-image" class="circular-image" />
        <div id="buttons">
            <button type="button" id="btn-one"><i class="fa fa-user"></i> <b>SIGNIN AS ADMIN</b></button>
            <button type="button" id="btn-two"><i class="fa fa-smile-o"></i> <b>SIGNIN AS A USER</b></button>
        </div>
    </div>
</body>
</html>