.view{
    display:block;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(233, 225, 202, 0.794);
    width: 700px;
    height: 90%;
}
.admin-view{
    display:block;
    float: right;
    margin-right: 160px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(233, 225, 202, 0.794);
    width: 1000px;
    height: 90%;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: azure;
    transition: 0.3s;
    padding-left: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 10px;
}
.fa-trash{
    color:red;
    padding-right: 10px;
    background-color: white;
    border-color: red;
    width: 70px;
    height: 15px;
    border-radius: 10px;
    font-size: 150%;
}
.fa-trash:hover{
    background-color: red;
    color:white;
}
.fa-edit{
    color:blue;
    background-color: white;
    border-color: blue;
    padding-left: 10px;
    width: 70px;
    height: 15px;
    border-radius: 10px;
    font-size: 150%;
}
.fa-edit:hover{
    background-color:blue;
    color:white;
}
.fa-remove{
    color:red;
    background-color: white;
    border-color: red;
    padding-right: 10px;
    width: 70px;
    height: 15px;
    border-radius: 10px;
    font-size: 150%;
}
.fa-remove:hover{
    background-color: red;
    color:white;
}
.fa-check-square-o{
    color:green;
    background-color: white;
    border-color: green;
    padding-left: 10px;
    width: 160px;
    height: 15px;
    border-radius: 10px;
    font-size: 100%;
}
.fa-check-square-o:hover{
    background-color:green;
    color:white;
}